extends layout

block content
  h1= title
  p Welcome to the index

  if user
    p Logged in as: #{user.username}
    
    if user.is_member == false
      p You are not a member!
    else
      p You are a member!

    each post in post_list
      li
        a #{post.title}
        |  #{post.description}
        |  #{post.user.username}

    else
      li There are no books.
  else
    p You are not logged in

  